<div class="top-bar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="logo">
                    <a [routerLink]="['/accueil']">
                        <h1>Advice&co</h1>
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 d-none d-lg-block">
                <div class="row">
                    <div class="col-4">
                        <div class="top-bar-item">
                            <div class="top-bar-icon">
                                <i class="fa fa-calendar-alt"></i>
                            </div>
                            <div class="top-bar-text">
                                <h3>Horraire d'ouverture</h3>
                                <p>Lun - Ven, 9h - 17h</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="top-bar-item">
                            <div class="top-bar-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="top-bar-text">
                                <h3>Nous appeler</h3>
                                <p>06 05 03 04 02</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="top-bar-item">
                            <div class="top-bar-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="top-bar-text">
                                <h3>Email</h3>
                                <p>info@adviceco.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar End -->

<!-- Nav Bar Start -->
<div class="nav-bar" [class.nav-sticky]="navChange">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a [routerLink]="['/accueil']" routerLinkActive="active" class="nav-item nav-link">Accueil</a>
                    <a [routerLink]="['/a-propos']" routerLinkActive="active" class="nav-item nav-link">A propos</a>
                    <a [routerLink]="['/services']" routerLinkActive="active" class="nav-item nav-link">Service</a>
                    <div class="nav-item dropdown">
                        <a href="#" routerLinkActive="active" id="dropdown" class="nav-link dropdown-toggle" data-toggle="dropdown">Devis</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown">
                            <a [routerLink]="['/services/assurance-auto']" class="dropdown-item">Assurance voiture</a>
                            <a [routerLink]="['/services/habitation']" class="dropdown-item">Assurance habitation</a>
                            <a [routerLink]="['/services/animaux']" class="dropdown-item">Assurance animaux</a>
                            <a [routerLink]="['/services/sante']" class="dropdown-item">Assurance santé</a>
                            <a [routerLink]="['/services/rc-decennelle']" class="dropdown-item">RC décenale</a>
                        </div>
                    </div>
                    <a [routerLink]="['/contact']" routerLinkActive="active" class="nav-item nav-link">Contact</a>
                </div>
                <div class="ml-auto">
                    <a class="btn btn-custom" (click)="openDialog()">Être appeler</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->