<header class="header-section d-lg-block d-none">
          <!-- Start Bottom Area -->
          <div class="header-bottom sticky-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Header Main Menu -->
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li class="has-dropdown">
                                        <a routerLink="/accueil" routerLinkActive="active main-menu-link">Accueil</a>
                                    </li>
                                    <li class="has-dropdown">
                                        <a routerLink="/nos-devis" routerLinkActive="active main-menu-link">Particulier <i class="fa fa-angle-down"></i></a>
                                        <!-- Mega Menu -->
                                        <ul class="sub-menu">
                                            <li><a href="#">Mutuelle santé</a></li>
                                            <li><a href="#">Auto Moto</a></li>
                                            <li><a href="#">Habitation</a></li>
                                            <li><a href="#">Animaux</a></li>
                                            <li><a href="#">RC Décennalle</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a routerLink="/nos-devis">Professionnel<i class="fa fa-angle-down"></i></a>
                                        <!-- Sub Menu -->
                                        <ul class="sub-menu">
                                            <li><a href="#">Mutuelle santé</a></li>
                                            <li><a href="#">Auto Moto</a></li>
                                            <li><a href="#">Habitation</a></li>
                                            <li><a href="#">Animaux</a></li>
                                            <li><a href="#">RC Décennalle</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a routerLink="/a-propos" routerLinkActive="active main-menu-link">Qui somme nous</a>
                                    </li>
                                    <li>
                                        <a routerLink="/contact" routerLinkActive="active main-menu-link">Contactez nous</a>
                                    </li>
                                    <li>
                                        <button class="btn-call" (click)="openDialog()">Demander à être appeler <i class="fa fa-phone-alt" style="color: white;"></i></button>
                                    </li>
                                </ul>
                            </nav>
                        </div> 
                    </div>
                </div>
            </div>
        </div> 
</header>