<!-- <div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Nous trouver</h3>
                    <ul>
                        <li><a href="#">Adresse postal</a></li>
                        <li><a href="#">Adresse email</a></li>
                        <li><a href="#">Téléphone ?</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>A propos</h3>
                    <ul>
                        <li><a href="#">Plan du site</a></li>
                        <li><a href="#">Conditions générale de vente</a></li>
                        <li><a href="#">Politique de confidentialité</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Adeviceco</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
                <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <p class="copyright">Developped by <a href="https://lafabrikduweb.com">lafabrikduweb.com</a> © 2022</p>
        </div>
    </footer>
    
</div> -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-contact">
                        <h2>Nous trouver</h2>
                        <p><i class="fa fa-map-marker"></i>Adresse de l'entreprise, Paris, France</p>
                        <p><i class="fa fa-phone"></i>06 05 04 03 02</p>
                        <p><i class="fa fa-envelope"></i>info@adeviceco.com</p>
                        <div class="footer-social">
                            <a class="btn" href=""><i class="fa fa-twitter"></i></a>
                            <a class="btn" href=""><i class="fa fa-facebook-f"></i></a>
                            <a class="btn" href=""><i class="fa fa-instagram"></i></a>
                            <a class="btn" href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Menu</h2>
                        <a [routerLink]="['/a-propos']">A propos</a>
                        <a [routerLink]="['/services']">Services</a>
                        <a [routerLink]="['/contact']">Nous contacter</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Liens utiles</h2>
                        <a [routerLink]="['/terms']">Mentions légale</a>
                        <a [routerLink]="['/CGV']">CGV</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-newsletter">
                        <h2>Newsletter</h2>
                        <form>
                            <input class="form-control" placeholder="Nom complet">
                            <input class="form-control" placeholder="Email">
                            <button class="btn btn-custom">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <p>&copy; <a href="#">Adeviceco</a>, Tous les droits réservés. Développer par <a href="https://lafabrikduweb.com">LaFabrikDuWeb</a></p>
        </div>
    </div>
</footer>
