<app-header></app-header>
<app-header-page [pageTitle]="pageTitle"></app-header-page>
<div class="contact">
    <div class="container">
        <div class="section-header text-center">
            <p>Contact</p>
            <h2>Nous contacter</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="contact-info">
                    <h2>Informations utilies</h2>
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="far fa-clock"></i>
                        </div>
                        <div class="contact-info-text">
                            <h3>Horraires d'ouverture</h3>
                            <p>Lun - Ven, 9h - 17h</p>
                        </div>
                    </div>
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="contact-info-text">
                            <h3>Téléphone</h3>
                            <p>0605040302</p>
                        </div>
                    </div>
                    <div class="contact-info-item">
                        <div class="contact-info-icon">
                            <i class="far fa-envelope"></i>
                        </div>
                        <div class="contact-info-text">
                            <h3>Email</h3>
                            <p>adviceco@example.fr</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7"> 
                <div class="contact-form">
                    <form [formGroup]="contactForm" >
                        <div class="control-group">
                            <input type="text" class="form-control" id="name" placeholder="Votre nom" formControlName="name" [ngClass]="{'form-control': true, 'is-invalid': isNameValid()}"/>
                            <div *ngIf="isNameValid()" class="alert alert-danger">Le nom est obligatoire</div>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" placeholder="Votre Email" formControlName="email" [ngClass]="{'form-control': true, 'is-invalid': isEmailValid()}"/>
                            <div *ngIf="isEmailValid()" class="alert alert-danger">L'email est obligatoire</div>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="subject" placeholder="Objet" formControlName="object" [ngClass]="{'form-control': true, 'is-invalid': isObjectValid()}"/>
                            <div *ngIf="isObjectValid()" class="alert alert-danger">L'objet est obligatoire</div>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" id="message" placeholder="Message" formControlName="message" [ngClass]="{'form-control': true, 'is-invalid': isMessageValid()}"></textarea>
                            <div *ngIf="isMessageValid()" class="alert alert-danger">Le message est obligatoire</div>
                        </div>
                        <div>
                            <button class="btn-submit" type="submit" [disabled]="isFormValid()" (click)="submitMessage()">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>