
<!-- Section ou je metterai le titre et d'autres informations -->
<section>
    <h4>Demandez votre en ligne</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis beatae eveniet odio distinctio, laudantium id error nisi dolore necessitatibus iure?</p>
</section>

<!-- Section de tous les devis -->

<section class="devis">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="card-title">
                           <h3 class="title">Mutuelle santé</h3>
                        </div>
                        <div class="card-text">
                            <i class="fa fa-heartbeat fa-7x" style="font-size: 60px;"></i>
                        </div>
                        <button class="btn-devis">Devis en ligne</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="card-title">
                           <h3>Auto Moto</h3>
                        </div>
                        <div class="card-text">
                            <i class="fa fa-car" style="font-size: 60px;"></i>
                        </div>
                        <button class="btn-devis">Devis en ligne</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="card-title">
                           <h3>Habitation</h3>
                        </div>
                        <div class="card-text">
                            <i class="fa fa-home" style="font-size: 60px;"></i>
                        </div>
                        <button class="btn-devis">Devis en ligne</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="card-title">
                           <h3>Animaux</h3>
                        </div>
                        <div class="card-text">
                            <i class="fa fa-paw" style="font-size: 60px;"></i>
                        </div>
                        <button class="btn-devis">Devis en ligne</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="card-title">
                           <h3>RC Décennalle</h3>
                        </div>
                        <div class="card-text">
                            <i class="fa fa-building" style="font-size: 60px;"></i>
                        </div>
                        <button class="btn-devis">Devis en ligne</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
