<section class="banner">

</section>
<section class="form">
    <div class="rightSide">
        <h4>créer votre compte</h4>
        <form id="form">
            <div class="email">
                <label for="email"> Votre email</label>
                <input type="email" placeholder="exemple@exemple.com" id="email" required>
            </div>
            <div class="password">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" placeholder="votre mot de passe">
            </div>
            <div class="confirmPassword">
                <label for="confirmPassword">Confirmer votre mot de passe</label>
                <input type="password" id="confirmPassword" placeholder="confirmer votre mot de passe">
            </div>
            <button id="btnLogin">INSCRIPION</button>
        </form>
    </div>
    <div class="leftSide">
        <h4>Se connecter</h4>
        <p>Vous posséder un compte<br> Connectez vous grace à vos identifiants</p>
        <button id="btnRegister" routerLink="/login">
            Page de connecxion
        </button>
    </div>
</section>
