<section class="banner">

</section>
<section class="form">
    <div class="rightSide">
        <h4>créer votre compte</h4>
        <form id="formRegister">
            <div class="email">
                <label for="email" id="labels"> Votre email</label>
                <input type="email" placeholder="exemple@exemple.com" id="email" name="email" required [(ngModel)]="email">
            </div>
            <div class="email">
                <label for="username" id="labels"> Votre username</label>
                <input type="texte" placeholder="username" id="username" required name="username" [(ngModel)]="username">
            </div>
            <div class="password">
                <label for="password" id="labels">Mot de passe</label>
                <input type="password" id="password" placeholder="votre mot de passe" name="password" [(ngModel)]="password">
            </div>
            <div class="confirmPassword">
                <label for="confirmPassword" id="labels">Confirmer votre mot de passe</label>
                <input type="password" id="confirmPassword" placeholder="confirmer votre mot de passe">
            </div>
            <button id="btnRegister" (click)="register()">INSCRIPION</button>
        </form>
    </div>
    <div class="leftSide">
        <h4>Se connecter</h4>
        <p>Vous posséder déjà un compte<br> Connectez vous grace à vos identifiants</p>
        <button id="btnLogin" (click)="redirectToLogin()">
            Page de connecxion
        </button>
    </div>
</section>
