<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Mentions légales</h2>
            </div>
        </div>
    </div>
</div>

<div class="section-terms">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Définitions</h2>
                <p><strong>Client : </strong> Tout Professionnel ou personne phusyque capable au sens des articles 1123 et suivants du Code civil, ou personne morale, qui visite le site objet des présentes conditions générales</p>
                <p><strong>Prestations et Servives : </strong> <a href="https://www.adviceco.fr" target="_blank">www.adviceco.fr</a> met à disposition des Clients : </p>
                <h2>1. Présentation du site web</h2>
                <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateus de site web <a href="https://www.adviceco.fr" target="_blank">www.adviceco.fr</a> </p>
                <p>l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi</p>
                <p><strong>Propiétaire : </strong> Adevideco Capital social 10000€ Numéro de TVA: FR12345689  20 rue Richard 75001 Paris, France</p>
                <p><strong>Responsable publication :</strong> Nom du résponsable info@adevice.fr</p>
                <p>Le responsable publication et une personne physique ou morale.</p>
                <p><strong>Créateur : </strong> LafabrikDuWeb 25 Rue D'italie 13006 - <a href="https://lafabrikduweb.com">lafabrikduweb.com</a></p>
                <p><strong>Hébergeur : </strong> Nom de l'hébergeur et l'adresse</p>
                <p><strong>Webmaster : </strong> LafabrikDuWeb 25 Rue D'italie 13006 - <a href="mailto:contact@lafabrikduweb.com">contact@lafabrikduweb.com</a></p>
                <h2>2. Description des services fournis</h2>
                <p>L'entreprise est sitié au 20 Boulevard Richard 75000 Paris, France</p>
                <h2>3. Liens hypertextes "cookies" et balises "tags" internet</h2>
                <p>le site web <a href="https://www.adviceco.fr" target="_blank">www.adviceco.fr</a> contientt un certain nombre de liens hypertextes vers d'autres sites, mis en place avec l'autorisation de <a href="https://www.adviceco.fr" target="_blank">www.adviceco.fr</a> .</p>
                <p>Cependant, <a href="https://www.adviceco.fr" target="_blank">www.adviceco.fr</a> n'a pas la possibilité de vérifier le contenu des sites ainsi visités, et n'assumera en conséquence aucune responsabilité de ce fait.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, aut? Consectetur, fugit? Iure quam odio dolorem voluptatem, voluptatum rem id asperiores fugit! Doloremque id suscipit eveniet nam aliquam corrupti aperiam?</p>
                <h3>3.1 Les cookies</h3>
                <p>Un "cookie" est un fichier d'information envoyé sue le navigateur de l'utilisateur et enregistré au sein du terminal de l'utilisateur (Ordinateur, Smartphone, Tabelette ...)</p>
                <p>Ce fichier comprend des informations telles que le nom de domaine de l'utilisateur, le fournisseur d'accès Internet de l'utilisaur, le système d'exploitation de l'utilisateur, ainsi que la date et l'heure d'accès.</p>
                <p>Les "Cookies" ne risquent en aucun cas d'endommager le terminal de l'utilisateir</p>
                <p>Cest types de cookies ne sont déposés sur votre terminal qu'à condition que vous y consentiez, en continuant votre navigation sur le Site Internet de <a href="https://www.adviceco.fr" target="_blank">www.adviceco.fr</a>.</p>
                <p>A tout moment, l'utilisateur peut néanmoins revenir sur son consentement à ce que <a href="https://www.adviceco.fr" target="_blank">www.adviceco.fr</a> dépose ce type de cookies</p>
            </div>
        </div>
    </div>
    
</div>
