<section class="carrousel">
   <h1>Adeviceco</h1>
   <h4>Lorem, ipsum.</h4>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, dolor.</p>
   <button class="devis-online">Devis en ligne</button>
</section>
<section >
    <div class="partener">
        <h3>Nos entreprise parteners</h3>
        <div class="container">
            <!-- a mettre les images des entreprises partenaires -->
        </div>
    </div>
    <h3>Lorem ipsum dolor sit.</h3>
    <div class="quality">
        <div class="block"></div>
        <img src="../../assets/img/banner.png" alt="image Adeviceco">
        <div class="more">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla recusandae facilis pariatur quidem illo a impedit unde! Rem blanditiis, explicabo expedita commodi harum tenetur est animi accusantium? Perspiciatis error magni aliquam nisi itaque asperiores, omnis ea officia, molestias explicabo laudantium.</p>
            <button routerLink="/about" class="more-info">En savoir plus</button>
        </div>
    </div>
</section>