<app-header></app-header>
<app-header-page [pageTitle]="pageTitle"></app-header-page>

<div class="section-condition">
    <h1>Les conditions générales de ventes</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, sed?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, nulla distinctio. Blanditiis excepturi, voluptatem autem aliquam quidem minima similique quaerat nobis voluptates ratione quod officiis numquam veniam architecto a officia.
    </p>

    <h3>Titres</h3>
</div>

<app-footer></app-footer>