<h1 mat-dialog-title>Un conseiller vous appellera dans les 24H</h1>

<form [formGroup]="form">
  <div class="form-group">
    <div>
      <label for="name">Nom</label>
      <input type="text" formControlName="name" name="name" [ngClass]="{'form-control': true, 'is-invalid': invalidName()}" placeholder="Votre nom" [(ngModel)]="data.name">
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" formControlName="email" name="email" [ngClass]="{'form-control': true, 'is-invalid': invalidEmail()}" placeholder="Votre email" [(ngModel)]="data.email">
    </div>
    <div>
      <label for="phone">Téléphone</label>
      <input type="tel" formControlName="phone" name="phone" [ngClass]="{'form-control': true, 'is-invalid': invalidPhone()}" placeholder="Votre numéro de téphone" [(ngModel)]="data.phone">
    </div>
  </div>
  <div *ngIf="invalidName()" class="alert alert-danger">Le nom est obligatoire</div>
  <div *ngIf="invalidEmail()" class="alert alert-danger">L'email est obligatoire </div>
  <div *ngIf="invalidPhone()" class="alert alert-danger">Le téléphone est obligatoire</div>
  <div mat-dialog-actions class="btns">
  <div class="container">
    <div class="row">
      <div class="col-6"><button mat-button (click)="closeModal()" class="btn w-100 btn-danger">Annuler</button></div>
      <div class="col-6"><button type="submit" [disabled]="isValidatedForm()" mat-button class="btn w-100 btn-success" (click)="submitForm()">Envoyé</button></div>
    </div>
  </div>
</div>

</form>
